BLT_HOST=0.0.0.0
BLT_PORT=8090
BLT_LAUNCH_BROWSER=false
BLT_PROJECT_SETTINGS=
GOLEM_CONFIG_ACTIVE=production
R_CONFIG_ACTIVE=production
BLT_EXPORT_DIR=/exports
BLT_EXPORT_ROOT_NAME=Export Folder
BLT_HIDE_IMAGE_EXPORT_BUTTONS=true
