PANNOTATOR_HOST=0.0.0.0
PANNOTATOR_PORT=8090
PANNOTATOR_LAUNCH_BROWSER=false
PANNOTATOR_PROJECT_SETTINGS=
GOLEM_CONFIG_ACTIVE=production
R_CONFIG_ACTIVE=production
PANNOTATOR_EXPORT_DIR=/exports
PANNOTATOR_EXPORT_ROOT_NAME=Export Folder

