BLT_HOST=0.0.0.0
BLT_PORT=8090
BLT_LAUNCH_BROWSER=false
BLT_PROJECT_SETTINGS=
GOLEM_CONFIG_ACTIVE=production
R_CONFIG_ACTIVE=production
BLT_EXPORT_DIR=/exports
BLT_EXPORT_ROOT_NAME=Export Folder
BLT_HIDE_IMAGE_EXPORT_BUTTONS=true
PROMETHEUS_PORT=9090
ALERTMANAGER_PORT=9093
CADVISOR_PORT=8081
ALERTMANAGER_SSL_CERT_DIR=/etc/ssl/certs:/etc/alertmanager/custom-certs
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
TELEGRAM_API_URL=
ALERTMANAGER_HTTP_PROXY=
ALERTMANAGER_HTTPS_PROXY=
ALERTMANAGER_NO_PROXY=
ALERT_EMAIL_TO=
ALERT_EMAIL_FROM=
SMTP_SMARTHOST=
SMTP_AUTH_USERNAME=
SMTP_AUTH_PASSWORD=
SMTP_REQUIRE_TLS=true
SMTP_HELLO=
SMTP_FORCE_IMPLICIT_TLS=
